{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <h1>Please log in</h1>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        {{ form_errors(loginForm) }}

        {{ form_start(loginForm) }}

        {{ form_row(loginForm._username, {
            label: 'Email'
        }) }}
        {{ form_row(loginForm._password, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-primary mt-2">Register</button>

        {{ form_end(loginForm) }}
    {% endif %}
{% endblock %}
